version: '2.2'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    environment:
      - cluster.name=es-docker-cluster
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      # give our test instance a port number that is for sure not going to write to some poor cluster listening on 9200
      - 9200:9200
  kibana:
    image: docker.elastic.co/kibana/kibana:7.9.2
    depends_on:
      - "elasticsearch"
    environment:
      - elasticsearch.hosts=http://127.0.0.1:9200
    ports:
      - 5601:5601